<div class="container">
  <h1>Details of Products</h1>
  <section class="product-container">
    <!-- left side -->
    <div class="img-card">
      <img [src]="product.images[0]" alt="" id="featured-image" />
      <!-- small img -->
      <div class="small-Card">
        @for (image of product.images; track image){
          <img [src]="image" alt="" class="small-Img" /> 
        } 
      </div>
    </div>
    <!-- Right side -->
     @if (product){
      <div class="product-info">
        <h3>{{product.title}}</h3>
        <h5>Price: ${{product.price +15}} <del>${{product.price}}</del></h5>
        <p>
          {{product.description}}
        </p>
   
  
        <div class="quantity">
          <h3>Quantity:</h3> 
          <input type="number" value="1" min="1" /><br>
          <button>Add to Cart</button>
        </div>
   
      </div>
     }
    
  </section>
</div>
